<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<title>Event Handler: &title;</title>
		<script type="text/javascript" language="JavaScript" src="skin/menubar.js"></script>
		<script type="text/javascript" language="JavaScript" src="skin/Form.class.js"></script>
		<script type="text/javascript" language="JavaScript" src="skin/Frame.class.js"></script>
		<script type="text/javascript" language="JavaScript" src="skin/Mainform.class.js"></script>
		<script type="text/javascript" language="JavaScript" src="skin/OptionPane.class.js"></script>
		<link href="templates/master.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<form id="fMainform" name="fMainform" action="&act;" target="_self" method="post" enctype="multipart/form-data">
			<table width="100%" border="0" cellpadding="2" cellspacing="2" align="center">
				<tr>
					<td id="bar"></td>
				</tr>
				<tr>
					<td>
						<table border="0" cellpadding="2" cellspacing="2" align="center">
							<tr>
								<th colspan="2" align="left">&title;</th>
							</tr>
							<tr>
								<td align="right">*Pa&iacute;s:</td>
								<td align="left">
									<select id="tCountry" name="tCountry">&country;</select>
								</td>
							</tr>
							<tr>
								<td	align="right">*Provincia:</td>
								<td align="left">
									<input type="text" id="tProvince" name="tProvince" maxlength="24" value="&province;" required="true" />
								</td>
							</tr>
							<tr>
							   <td colspan="2" align="right">
							   	   <input type="submit" id="sSave" name="sSave" value="Guardar" />
							   </td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td height="100%">&nbsp;</td>
				</tr>
			</table>
		</form>
	</body>
</html>
