<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<title>Event Handler Detallar Sector</title>
		<script type="text/javascript" language="JavaScript" src="skel/Ajax.class.js"></script>
		<script type="text/javascript" language="JavaScript" src="skin/Form.class.js"></script>
		<script type="text/javascript" language="JavaScript" src="skin/OptionPane.class.js"></script>
		<link href="master.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<form id="fSectorDetail" name="fSectorDetail" action="#" target="_self" method="post" enctype="multipart/form-data">
		<div>
		<table  border="0" cellpadding="0" cellspacing="0" align="center" width="90%">
			<tr>
				<td>
					<table border="0" cellpadding="2" cellspacing="2" align="center" width="100%" style="border: 0px;">
						<tr>
							<th colspan="2" align="left">Detallar Sector</th>
						</tr>
						<tr>
							<td align="right" width="275">
								<table>
									<tr>
										<td>Seleccionar Filas de:</td>
										<td><input type="text" id="txa" id="txb"  size="5" maxlength="4" /></td>
										<td>a</td>
										<td><input type="text" id="txa" id="txb"  size="5" maxlength="4" /></td>
									</tr>
									<tr>
										<td>Seleccionar Columnas de:</td>
										<td><input type="text" id="tya" id="tyb"  size="5" maxlength="4" /></td>
										<td>a</td>
										<td><input type="text" id="tya" id="tyb"  size="5" maxlength="4" /></td>
									</tr>
								</table>
								<br/>
								<input type="button" id="bSelect" name="bSelect" value="Seleccionar"/>
								<input type="button" id="bBloq" name="bBloq" value="Bloquear"/>
								<input type="button" id="bUnbloq" name="bUnbloq" value="Bloquear"/>
								<hr/>
								<table width="275">
									<tr>
										<td align="right">Densidad de Sector:</td>
										<td><input type="text" id="tDensity" id="tDesity"  size="10" maxlength="8" /></td>
									</tr>
									<tr> 
										<td align="right">Total Activos:</td>
										<td><input type="text" id="tActives" id="tActives"  size="10" maxlength="8" /></td>
									</tr>
								</table>								
							</td>
							<td align="left">
								Edit Sector
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
	</form>	
	</body>
</html>
